#draggable {
    width   : 150px;
    height  : 100px;
    padding : 1em;
    margin: 0px;
    background-color: #FFCCAA;
    border: solid 2px #CCAA66;
    font-size: 14px;
}

#droppable {
    width   : 350px;
    height  : 200px;
    padding : 2em;
    margin: 0px;
    background-color: #FFDDBB;
    border: solid 2px #FF9900;
}
